<!DOCTYPE html>
<html>

<head>
    <title>
        <%= Name %> | City</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/EmpStyle.css">    
    <link rel="icon" href="/images/emp1.png" type="image/gif" sizes="12x12">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <div class="jumbotron jumbotronPost">
                <h2>
                    <%= Name %>
                </h2>                
                <p>
                    <b>Population:</b>
                    <%= Population %>
                </p>  
                <p>
                    <b>Average:</b>
                    <%= 30 %>
                </p>                           
                <hr>
                <%- include('partials/navbar') %>
            </div>
    </div>
</body>

</html>